{% extends 'base.html' %}

        {% block content %}
        <section class="content-container-diagnosis">
            <h1>Diagnosis of Disease</h1>
            <div class="container-diagnosis">
                
                <!-- Card 1 -->
                <div class="card">
                    <img src="assest/LUNG-DISEASE.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Lungs Disease</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                            quos labore possimus vitae provident facere expedita deleniti sapiente nobis officiis!</div>
                            <button class="predict-button" onclick="redirectToPredictionPage()">Predict</button>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <img src="assest/skin disease.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Skin Disease</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                            blanditiis molestias earum hic esse voluptatum magni ad eaque labore minima.</div>
                            <button class="predict-button" onclick="redirectToPredictionPage()">Predict</button>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <img src="assest/brain disease.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Brain Disease</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                            autem animi earum accusamus modi accusantium, ex fugit eligendi aut laboriosam.</div>
                            <button class="predict-button" href="/diabetes">Predict</button>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="card">
                    <img src="assest/diabetes disease.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Diabetes Disease</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe cum
                            pariatur placeat quos optio! Non, cupiditate dolorum. Culpa, vero assumenda.</div>
                            <button class="predict-button" onclick="redirectToDiabetesPage()">Predict</button>
                    </div>
                </div>
                <!-- Card 5 -->
                <div class="card">
                    <img src="assest/heart disease.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Heart Disease</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
                            provident praesentium quod aliquam nulla animi quo eum possimus similique tempore?</div>
                            <button class="predict-button" onclick="redirectToPredictionPage()">Predict</button>
                    </div>
                </div>
                <!-- Card 6 -->
                <div class="card">
                    <img src="assest/full body disease.jpg" alt="Card Image">
                    <div class="card-content">
                        <div class="card-title">Full Body Diagnosis</div>
                        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
                            hic dicta mollitia at excepturi nemo molestiae dolorem doloremque, iure earum!</div>
                        <button class="predict-button" onclick="redirectToPredictionPage()">Predict</button>
                    </div>
                </div>
            </div>
        </section>
     

    </main>
    <script>
        function redirectToPredictionPage() {
            window.location.href = '/diabetes';
        }
        function redirectToDiabetesPage() {
            window.location.href = 'diabetesform.html';
        }
    </script>
    {% endblock %}
