{% extends 'base.html' %}
{% block content %}
    <section class="container-index">
      <div class="content-container-index">
        <div class="main-content">

          <h2>Multidiease Idetification and Prognosis System Using AI</h2>
          <p>Multidisease Identification and Prognosis System redefine the way we approach healthcare. By harnessing the
            power of AI, we aim to empower healthcare professionals, improve patient outcomes, and contribute to a
            healthier and more resilient society. Welcome to the future of healthcare—where precision meets compassion.
          </p>
        </div>
        <div class="image">
          <img src="assest/mediscan-removebg-preview.png" alt="Attractive Image" style="width: 500px; height: auto;">
        </div>
      </div>
    </section>

    <section class="company-container companies-section">
      <div class="company-section">
        <h2 class="obj">What We Do</h2>
        <div class="logos ">
          <a href="#">
            <h2 style="color:orange;">10+</h2>WORK EXPERIENCE
          </a>
          <a href="#">
            <h2 style="color:orange;">2000+</h2>PROJECT DONE
          </a>
          <a href="#">
            <h2 style="color:orange;">50+</h2>TEAM MEMBERS
          </a>
          <a href="#">
            <h2 style="color:orange;">100+</h2>AWARD GAIN
          </a>
        </div>
      </div>
    



  </section>
{% endblock %}